
<app-menu></app-menu>

<router-outlet></router-outlet>



<!--
<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>  
</div>



<button pButton 
        (click)="mostrarNombre()"
        label="Cambiar Nombre"
        icon="pi pi-check"
        iconPos="right"
        class="p-button-help">
</button>


<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet harum, quod placeat sit eum aperiam repellat possimus ea ratione consequatur totam, exercitationem velit deserunt molestiae magni voluptates perspiciatis tenetur. Velit.
</p-card>

-->